@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 80vh;
    background: #eef3bedc;
}
.wrapper{
    max-width: 400px;
    width: 24rem;
    padding: 25px;
    background-color: #fff;
    margin: 80px auto;
    border-radius: 0.3rem;
}
h1{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, .205);
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
}
h2{
    color: #000000b9;
    
}
h4{
    color: #000000ab;
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
    font-size: 15px;
    font-weight: 400;
}
.inputField{
    padding: 0.7rem 0.5rem;
    border: none;
    outline: none;
    display: flex;
    background-color: #00000091;
    justify-content: space-between;
    align-items: center;
}

.add_task{
    padding: 0.4rem 0.9rem;
    font-size: .95rem;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    /* opacity: .6;
    pointer-events: none; */
}
.add_task.active{
    opacity: 1;
    pointer-events: all;
}
button:hover{
    background-color: #fffb00ea;
    color: #000;
}

input[type=text]{
    padding: 0.4rem;
    width: 53%;
    outline: none;
    border: none;
}
.add_list{
    margin-top: 2rem;
}
.add_list{
    list-style: none;
    font-size: .9rem;
    text-transform: capitalize;
    margin-top: 1rem;
   
    color: #000000b2;
}

.list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.253);
    padding-bottom: 0.6em;
    margin-bottom: 1.1rem;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:checked + span{
    text-decoration: line-through;
    
}
.contents{
    margin-left: 0.4rem;
}
.item_right{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 12px;
}
.item_right i{
    font-size: 1.2rem;
    color: #0008;
    cursor: pointer;
}
.item_right i:hover{
    background: #333;
    color: #fff;
   
}
/* .checked{
    text-decoration: line-through;
    color: #333;
    
} */
.footer{
    text-transform: capitalize;
    margin-top: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unfinished{
    font-weight: 600;
    color: #000;
    animation: AnimateText 8s linear infinite;
    display: inline-block;

}
.clear_btn{
    font-size: .95rem;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    background-color: #000;
    padding: 0.5rem;
    text-transform: capitalize;
}
.clear_btn:hover{
    background: #ff0000ec;
}
.edit, .delete{
    cursor: pointer;
    padding: 0.2rem;
}





